@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&display=swap');

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ibm{
    font-family: 'IBM Plex Mono';
}

#__next{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-container{
    display: flex;
    width: 60%; 
    margin: 0 auto; 
    flex: 1;
}
